body
{
    color: #4b4f4f;
    background-color: #eee;
}

body, button
{
    font-size: 15px;
    font-family: "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", trebuchet, verdana, sans-serif;
}

code { font-size: 12px; }

img { border: none; }
img.screen { border: 1px solid #4b4f4f; }

h1, h2, h3, a:link { color: #2a3867; }

h1 { font-size: 27px; }
h2 { font-size: 20px; }
h3 { font-size: 15px; }

h1, h2, h3, p, .map-box
{
    margin: 11px 0;
    line-height: 1.333em;
}

#header
{
    width: 100%;
    height: 60px;
    margin: 32px 0 0 0;
    padding: 0;
}

    #header h1
    {
    	position: relative;
    	margin-top: 0;
    	top: -32px;
    	height: 120px;
    	background-image: url(header-white.png);
    	background-repeat: repeat-x;
    	background-position: 0 32px;
    }
    
    /*
    #header.pegged h1
    {
        z-index: 99;
        position: fixed;
    }
    */

#content
{
    width: 448px;
    margin: 100px auto 4em 100px;
    padding: 17px 34px;
    background-image: url(white-bg.png);
    border: 1px solid #cfeeed;
}

    #content h3
    {
        margin-top: 2em;
    }

#gallery
{
    position: absolute;
    top: 205px;
    left: 655px;
    width: 302px;
}

    #gallery img
    {
        border: 1px solid #4b4f4f;
    }

    #gallery a img
    {
        position: relative;
        left: 0;
        -webkit-transition: left .2s ease-out;
    }

    #gallery a:hover img,
    #gallery a:active img
    {
        left: -3px;
    }

    #gallery p.description
    {
        margin-bottom: 33px;
    }

    #gallery p.description button
    {
        background-color: #2A3867;
        border: none;
        color: #d7e1ff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        cursor: pointer;
        padding: 2px 8px 0 8px;
        font-size: 12px;
        -webkit-transition: background-color .3s ease-out;
    }
    
    #gallery p.description button:hover,
    #gallery p.description button:active
    {
        background-color: #7b85bc;
    }

.map-box { position: relative; }

.map-box .controls
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

    .map-box .controls a
    {
        display: block;
        float: left;
        margin: 0 5px 0 0;
        padding: 2px 5px;
        border: 1px solid #cfeeed;
        background-color: white;
        text-decoration: none;
        line-height: 11px;
    }
    
#map
{
    width: 446px;
    height: 446px;
    border: 1px solid #4b4f4f;
}

#userdata
{
    font-size: 12px;
    white-space: pre;
    background-color: white;
    border: 1px solid #cfeeed;
    overflow: hidden;
    padding: 16px;
}
