body
{
    font-size: 15px;
    font-family: "MyriadPro-Regular", "Myriad Pro Regular", MyriadPro, "Myriad Pro", trebuchet, verdana, sans-serif;
    color: #4b4f4f;

    background-color: #eee;
}

code { font-size: 12px; }

img { border: none; }
img.screen { border: 1px solid #4b4f4f; }

h1, h2, h3, a:link { color: #2a3867; }

h1 { font-size: 27px; }
h2 { font-size: 20px; }
h3 { font-size: 15px; }

h1, h2, h3, p, .map-box
{
    margin: 11px 0;
    line-height: 1.333em;
}

#header
{
    width: 100%;
    height: 60px;
    margin: 32px 0 0 0;
    padding: 0;
}

    #header h1
    {
    	position: relative;
    	margin-top: 0;
    	top: -32px;
    	height: 120px;
    	background-image: url(header-white.png);
    	background-repeat: repeat-x;
    	background-position: 0 32px;
    }
    
    #header.pegged h1
    {
        z-index: 99;
        position: fixed;
    }

#content
{
    width: 448px;
    margin: 135px auto 4em 135px;
    padding: 17px;
    background-image: url(white-bg.png);
    border: 1px solid #cfeeed;
}

#gallery
{
    position: absolute;
    top: 240px;
    left: 650px;
    width: 302px;
    
    border: 1px solid #cfeeed;
}

    #gallery img
    {
        border: 1px solid #4b4f4f;
    }

.map-box { position: relative; }

.map-box .controls
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

    .map-box .controls a
    {
        display: block;
        float: left;
        margin: 0 5px 0 0;
        padding: 2px 5px;
        border: 1px solid #cfeeed;
        background-color: white;
        text-decoration: none;
        line-height: 11px;
    }
    
#map
{
    width: 446px;
    height: 446px;
    border: 1px solid #4b4f4f;
}

#userdata
{
    font-size: 12px;
    white-space: pre;
    background-color: white;
    border: 1px solid #cfeeed;
    overflow: hidden;
    padding: 16px;
}
